{{define "table"}}

    {{if .}}
        <table>
            <thead>
            <tr>
                <th>Bla</th>
                <th>X</th>
                <th>Y</th>
                <th>Upvotes</th>
            </tr>
            </thead>
            <tbody>
            {{range .}}
                <tr id="{{.Id.Hex}}">
                    <td>{{.Val1}}</td>
                    <td>{{.Val2}}</td>
                    <td>{{.Val3}}</td>
                    <td class="valign-wrapper">
                        <span>{{.Upvotes}}</span>
                        <i class="material-icons" onclick="voteUp(this)">arrow_drop_up</i>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    {{else}}
        ... currently unavailable
    {{end}}

{{end}}